/* Fonts de Google, Estilo de letra */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    
    
}

.hero{
    /* Ejemplo de image de fondo */
    /* background-image: url(https://via.placeholder.com/1200x800); */
    background-image: url(../img/crash-bandicoot-4.png);
    height: 50vh;
    image-rendering: auto;

}
/*.contenedor-imagen img {
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
  /*  height: 100%; /* La imagen ocupa el 100% de la altura del contenedor */
  /*  object-fit: cover; /* Opcional: para ajustar la imagen sin distorsión */
  /*  position: absolute; /* La imagen ocupa una posición absoluta dentro del contenedor */
  /*  top: 0;
    left: 0;
}*/
